.buttons {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* margin: 10px; */
}
.buttons > button {
  border: none;
  padding: 10px;
  outline: none;
  box-shadow: 1px 2px 5px 1px;
  margin: 10px;
  background-color: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  pointer-events: auto;
  text-transform: capitalize;
}
#colorContainer {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  padding: 90px;
  gap: 70px;
  font-size: 35px;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  align-items: center;
}
